.footer
  .footer-picture
    .footer-view
      .text
        %h2.catch
          かんたん商品検索アプリ
        %p.push
          今すぐ無料ダウンロード！
      .banners
        = link_to image_tag(asset_path("app-store.svg"))
        = link_to image_tag(asset_path("google-play.svg"))
  .footer-copyright
    .footerMenu
      %ul.footerLists
        %h2
          MARKETについて
        %li.footer_list
          会社概要（運営会社）
        %li.footer_list
          プライバシーポリシー
        %li.footer_list
          MARKET利用規約
        %li.footer_list
          ポイントに関する特約
      %ul.footerLists
        %h2
          MARKETを見る
        %li.footer_list
          カテゴリー一覧
        %li.footer_list
          ブランド一覧
      %ul.footerLists
        %h2
          ヘルプ＆ガイド
        %li.footer_list
          FURIMAガイド
        %li.footer_list
          FURIMAロゴ利用ガイドライン
        %li.footer_list
          お知らせ
    .copyright
      Copyright (c) 2020- makikashiwai. All rights reserved.